.ysynet_abstract {
  width: 100%;
  padding: 5px 10px;
  height: 70px;
}
.ysynet_abstract_content {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 130px);
  margin-left: 5px;
  margin-top: 20px;
  font-size: 14px;
  text-overflow: ellipsis;
}
.ysynet_abstract_details {
  display: inline-block;
  color: #108ee9;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 14px;
  float: right;
}