/* 详情内容 */
.am-list-item .am-list-line .am-list-content{
    font-size: 14px !important;
}
.grassColor{
    color:#1FB591;
}
.detail-content{
    margin-top: 45px;
    padding-bottom: 45px;
}
.detail-content p{
   margin: 0;
   padding: 0;
}
.ysynet-repaire-detail .title{
    font-size: 14px;
    display: flex;
    justify-content:space-between;
}
/* 各个区块加粗字体 */
.con_title{
    color:#113A48;
    font-size: 16px;
    font-weight: 700;
}
.ysynet-repaire-detail .equiment{
    font-size: 16px;
}

.ysynet-repaire-detail .tag{
    font-size: 12px;
    padding: 0 3px;
    margin:0 0 0 5px;
    border: solid 1px;
}
/* 设备 启用 tag */
.ysynet-repaire-detail .not_maintain{
    color: #EC6F66;
    background:#FFECF5;
    border-color: #FFECF5;
}
.ysynet-repaire-detail .maintain{
    color:#28C7A0;
    background:#E6F9F6;
    border-color: #E6F9F6;
}
.ysynet-repaire-detail .out_maintain{
    color:#F0BE6F;
    background:#FEFAF0;
    border-color: #FEFAF0;
}
/* 地址信息 */
.ysynet-repaire-detail .brand .line{
    margin: 0 3px;
}
.ysynet-repaire-detail .address{
    font-size: 14px;
    margin-top: -18px;
}
.ysynet-repaire-detail .address .adrCenter{
    margin: 0 10px;
}

/* 历史工单 */
.history-info{
    
}
.history-info .order-desc{
    display: flex;
    justify-content: space-between;
}
.history-info .order-desc .order-No{
    color:#1FB591;
    margin-left: 10px;
}
.history-info .order-summary p{
    padding:.2vh 0;
}
.ysynet-detail-foot{
    width: 100%;
    position: fixed;
    padding-top: 1.2vw;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}
/* 底部按钮 */
.ysynet-detail-foot .button-group{
    display: flex;
    justify-content: flex-end;
}
.ysynet-detail-foot .button-group a{
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
    padding:0 8px;
    border-radius: 2px;
    border: solid 1px #1FB591;
}
.edit-con{

}
.imagePicker{
    padding: 5px 0;
}
.foot-button a{
    font-size: 18px;
    display: inline-block;
    width: 50%;
    padding: 2vh 0;
    text-align: center;
}
.foot-button .btn-cancel{
    color:#28C7A0;
    background: #fff;
}
.foot-button .btn-submit{
    background: #28C7A0;
    color:#fff;
}
/* 备注文字计数 span */
.am-list-item .am-textarea-count{
    bottom: 10px;
    right: 15px;
}
/* 编辑工单信息 */
.ysynet-radio{
    display: flex;
    justify-content:space-between;

}