/* 详情内容 */
.am-list-item .am-list-line .am-list-content{
    font-size: 14px !important;
}
dl,dt,dd{
    margin: 0;
    padding: 0;
}
.grassColor{
    color:#108ee9;
}
.detail-content{
    margin-top: 45px;
    padding-bottom: 45px;
}
.detail-content p{
   margin: 0;
   padding: 0;
}
.ysynet-repaire-detail .title{
    font-size: 14px;
    display: flex;
    justify-content:space-between;
}
/* 各个区块加粗字体 */
.con_title{
    color:#113A48;
    font-size: 16px;
    font-weight: 700;
}
.am-tabs .am-list-line .am-list-content .ysy-edit-con{
    overflow: visible;
    white-space:normal
}
.trouble-info dt{
    float: left;
}
.trouble-info dl:after {  
  content: " ";  
  display: table;  
}
.trouble-info dt{
    width: 80px;
}
.trouble-info dd{
    white-space: normal !important;
    margin-left: 80px;
}
.ysynet-repaire-detail .equiment{
    font-size: 16px;
}
/* 地址信息 */
.ysynet-repaire-detail .brand .line{
    margin: 0 3px;
}
.ysynet-repaire-detail .address{
    font-size: 14px;
    margin-top: -18px;
}
.ysynet-repaire-detail .address .adrCenter{
    margin: 0 10px;
}

/* 历史工单 */
.history-info .order-desc{
    display: flex;
    justify-content: space-between;
}
.history-info .order-desc .order-No{
    color:#108ee9;
    margin-left: 10px;
}
.history-info .order-summary p{
    padding:.2vh 0;
}
.ysynet-detail-foot{
    width: 100%;
    position: fixed;
    padding-top: 1.2vw;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}
/* 底部按钮 */
.ysynet-detail-foot .button-group{
    display: flex;
    justify-content: flex-end;
}
.ysynet-detail-foot .button-group a{
    font-size: 14px;
    text-align: center;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;
    padding:0 8px;
    border-radius: 2px;
    border: solid 1px #108ee9;
}
.imagePicker{
    padding: 5px 0;
}
.foot-button a{
    font-size: 18px;
    display: inline-block;
    width: 50%;
    padding: 2vh 0;
    text-align: center;
}
.foot-button .btn-cancel{
    color:#108ee9;
    background: #fff;
}
.foot-button .btn-submit{
    background: #108ee9;
    color:#fff;
}
/* 备注文字计数 span */
.am-list-item .am-textarea-count{
    bottom: 10px;
    right: 15px;
}
/* 编辑工单信息 */
.ysynet-radio{
    display: flex;
    justify-content:space-between;

}
/* 各类原因右侧详细说明 */
.am-list-item .am-list-line .am-list-extra{
    font-size: 13px;
}