.am-grid .am-flexbox{
    border-radius: 5px;
}
.grid-span{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: block;
    line-height:50px;
    color: #fff;
    margin-left:25px;
    font-size:20px
 }

/* 维修工单span背景 */
.reGrid-span-bg{
    background-color: #5cb85c;
}
/* 质量控制span背景  */
.acGrid-span-bg{
    background-color: #f7b633;
}
.ysynet-content .cardBodyList{
    margin-bottom: 10px;
}

.ysynet-list .am-list-item .am-list-content,.ysynet-list .am-card-header .am-card-header-content{
    font-size: 14px;
    font-weight: normal;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.ysynet-list .am-card-header-content img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    vertical-align: middle;
}

.am-card-header-content{
    flex: none;
}


