.ysynet-login .am-tabs-default-bar {
  background-color: rgba(255, 255, 255, 0) !important;
}

.ysynet-welcome {
  background-image: url(../../assets/welcome-bg.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.ysynet-welcome .logo {
  background-image: url(../../assets/logo80x80.png);
  background-size: 100% 100%;
  margin: 5vh auto;
  width: 80px;
  height: 80px;
}
.ysynet-welcome .am-list-item.am-input-error .am-input-error-extra{
  position: absolute;
  right: 15px;
}
.ysynet-login-form .checkCode,.ysynet-login-form .pwd{
  padding-left: 0;
}
.ysynet-login-form .checkCode .am-list-content,.ysynet-login-form .pwd .am-list-content{
  padding-left: 15px;
}
.ysynet-login-form .ysy-child{
  margin-left: -15px;
}
.ysynet-login-form .checkCode .am-list-extra img{
  width: 80px;
  height: auto;
}
/* .ysynet-login-form .am-list-item .am-input-label.am-input-label-5 {
  width: 40px;
}

.ysynet-login-form.am-input-control {
  width: 300px;
} */